{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Información del Elemento</title>
</head>
<body>
    <h1>Información del Elemento</h1>
    
    <ul>
        <li><a href="{% url 'indexApp2' elemento_id=1 %}">Tipo de Juego</a></li>
        <li><a href="{% url 'indexApp2' elemento_id=2 %}">Plataforma</a></li>
        <li><a href="{% url 'indexApp2' elemento_id=3 %}">Peso</a></li>
        <li><a href="{% url 'indexApp2' elemento_id=4 %}">multijugador</a></li>
    </ul>
    
    {% if elemento_id %}
    <h2>Detalles del Elemento {{ elemento_id }}</h2>
    <p>Información detallada sobre el elemento seleccionado:</p>
    <!-- Mostrar información detallada aquí, incluyendo una imagen -->
    <img src="{% static 'imagen_elemento.jpg' %}" alt="Imagen del elemento">
    <p>Dato 1: Información sobre el elemento</p>
    <p>Dato 2: Información sobre el elemento</p>
    <p>Dato 3: Información sobre el elemento</p>
    <p>Dato 4: Información sobre el elemento</p>
    {% endif %}
    
    <!-- Agrega enlaces para volver a la página principal de cada aplicación -->
    <a href="{% url '' %}">Volver a la página principal de la primera aplicación</a>
    <a href="{% url 'app2' %}">Volver a la página principal de la segunda aplicación</a>
</body>
</html>
